<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="home">
    <header>
      <img src="/img/logo-mercado-liebre.svg" alt="logo" width="100%" />
      <div>
        <form action="">
          <input
            type="text"
            placeholder="Buscar productos, marcas y mas..."
          /><button>Buscar</button>
        </form>
      </div>

      <div>
        <h2>
          <i class="fas fa-hand-holding-usd" _mstvisible="2"></i>Compra en
          cuotas y sin tarjeta de credito
        </h2>
      </div>

      <div>
        <nav>
          <ul>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="vender.html">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            <br />
            <li>
              <a href="">Crea tu cuenta<i class="far fa-address-card"></i></a>
            </li>
            <li>
              <a href="">Ingresa<i class="fas fa-sign-in-alt"></i> </a>
            </li>
            <li>
              <a href="">Mis compras<i class="fas fa-shopping-basket"></i></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main>
        <div class="resp">
      <img src="/img/img-home-banner.jpg" alt="banner" width="100%" />
      </div>
      <div class="articulo">
        <h2 class="titulos">Ofertas</h2>
        <section>
          <br />
          <img src="/img/cafetera.jpg" alt="Cafetera" width="400" />
          <div class="imgs"><i class="fas fa-shipping-fast"></i></div>
         <div class="detalle">
            <h5 class="art">$6.770</h5>
         
            <br />
            <h4 class="desc">40% OFF</h4>
  
            <br />
            <h5 class="resp">Cafetera Moulinex</h5>
         </div>
        </section>
      </div>

      <div class="articulo">
        <img src="/img/macbook.jpg" alt="macbook" width="400" />
        <div class="imgs"><i class="fas fa-shipping-fast"></i></div>
        <div class="detalle">
            <h5 class="art"> $230.000</h5>
        <div></div>
        <br />
        <h4 class="desc">20% OFF</h4>
        <div></div>
        <br />
        <strong>MacBook Pro 2019</strong>
        </div>
      </div>
    </main>
    <footer>
      <div>
        <i class="far fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <i class="fas fa-shipping-fast" width="15%"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>

      <strong>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L</h6>
      </strong>
    </footer>
  </body>
</html>
