<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ofertas</title>
</head>

<body>
    <header class="container">
        <img src="/img/img-home-banner.jpg" alt="banner" width="100%">
        <h2 class="titulos">Sección de Ofertas</h2>
        <br>
        <img src="/img/cafetera.jpg" alt="Cafetera" width="400">
        <h5 class="desc">$6.770</h5>
        <div></div>
        <br>
        <h4 class="desc">40% OFF</h4>
        <div></div>
        <br>
        <h5>Cafetera Moulinex</h5>
    </header>




    <header class="container">
        <img src="/img/macbook.jpg" alt="macbook" width="400">
        <h5>$230.000</h5>
        <div></div>
        <br>
        <h4 class="desc">20% OFF</h4>
        <div></div>
        <br>
        <strong>MacBook Pro 2019</strong>
    </header>
    <header class="container">
        <img src="/img/samsu.jpg" alt="samsung" width="400">
        <h5>$70.500</h5>
        <div></div>
        <br>
        <h4 class="desc">10% OFF</h4>
        <div></div>
        <br>
        <h4>Samsung Galaxy S10</h4>
 
</body>

</html>