<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vender</title>
</head>

<body>
    <header class="container">
        <img src="/images/img-home-banner.jpg" alt="banner" width="100%">
        <h2>Basado en tu última visita</h2>
        <br>
        <img src="/images/cafetera.jpg" alt="Cafetera" width="400">
        <h5>$6.770</h5>
        <div></div>
        <br>
        <h4>40% OFF</h4>
        <div></div>
        <br>
        <h4>Cafetera Moulinex</h4>
    </header>
 <header class="container">
        <img src="/images/macbook.jpg" alt="macbook" width="400">
        <strong>$230.000</strong>
        <div></div>
        <br>
        <h4>20% OFF</h4>
        <div></div>
        <br>
        <h4>MacBook Pro 2019</h4>
    </header>
    <header class="container">
        <img src="/images/samsu.jpg" alt="samsung" width="400">
        <h5>$70.500</h5>
        <div></div>
        <br>
        <h4>10% OFF</h4>
        <div></div>
        <br>
        <h4>Samsung Galaxy S10</h4>
    </header>
    <header class="container">
        <img src="/images/tele.jpg" alt="SmartTV" width="400">
        <h5>$23.200</h5>
        <div></div>
        <br>
        <h4>5% OFF</h4>
        <div></div>
        <br>
        <h4>SmartTv Samsung 43"</h4>
    </header>

</body>

</html>